In [1]:
try:
    from IPython import get_ipython
    get_ipython().magic('clear')
    get_ipython().magic('reset -f')
except:
    pass

In [2]:
#Importing all the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#To ignore the warnings 
import warnings as wg
wg.filterwarnings("ignore")

In [3]:
#Read the dataset file of train data
train=pd.read_csv("train.csv")
#Read the dataset file of test data
test=pd.read_csv("test.csv")

In [4]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,B,B,B,C,B,B,A,E,C,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
1,2,B,B,A,A,B,D,A,F,A,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233
2,3,A,A,A,C,B,D,A,D,A,...,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351
3,4,B,B,A,C,B,D,A,E,C,...,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253
4,6,A,A,A,C,B,D,A,E,A,...,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260

In [5]:
test.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,B,B,B,C,B,B,A,E,E,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,5,A,B,A,C,B,C,A,E,C,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,15,B,A,A,A,B,B,A,E,D,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,16,B,B,A,C,B,D,A,E,A,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,17,B,B,A,C,B,C,A,E,C,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412

In [6]:
train.tail()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
299995,499993,B,B,A,A,B,D,A,E,A,...,0.769792,0.450538,0.934360,1.005077,0.853726,0.422541,1.063463,0.697685,0.506404,7.945605
299996,499996,A,B,A,C,B,B,A,E,E,...,0.528056,0.508502,0.358247,0.257825,0.433525,0.301015,0.268447,0.577055,0.823611,7.326118
299997,499997,B,B,A,C,B,C,A,E,G,...,0.688747,0.372425,0.364936,0.383224,0.551825,0.661007,0.629606,0.714139,0.245732,8.706755
299998,499998,A,B,A,C,B,B,A,E,E,...,0.344404,0.424243,0.382028,0.468819,0.351036,0.288768,0.611169,0.380254,0.332030,7.229569
299999,499999,A,A,A,C,A,D,A,E,A,...,0.565347,0.328669,0.789165,0.960406,0.776019,0.734707,0.484392,0.639754,0.689317,8.631146

In [7]:
test.tail()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
199995,499987,B,A,A,C,B,D,A,E,E,...,0.287454,0.543800,0.682378,1.028978,1.022741,0.683903,0.877273,0.532410,0.605397,0.884581
199996,499990,B,A,A,C,B,B,A,E,C,...,0.794881,0.432778,0.389775,0.359871,0.550013,0.492082,0.202295,0.416875,0.406205,0.758665
199997,499991,A,B,B,C,B,B,A,E,C,...,0.514487,0.060997,0.171741,0.317185,0.150340,0.122109,0.390524,0.334026,0.378987,0.839416
199998,499994,A,A,A,C,B,D,A,D,A,...,0.286144,1.061710,0.819811,0.901241,0.555339,0.844315,0.894193,0.794102,0.844279,0.890473
199999,499995,A,A,A,C,B,D,A,E,A,...,0.286755,1.065725,0.687682,0.654738,0.574575,0.617467,0.694336,0.745698,0.568525,0.783568

In [8]:
test_id=test['id'].copy()

In [9]:
train.dtypes

id          int64
cat0       object
cat1       object
cat2       object
cat3       object
cat4       object
cat5       object
cat6       object
cat7       object
cat8       object
cat9       object
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
target    float64
dtype: object

In [10]:
test.dtypes

id          int64
cat0       object
cat1       object
cat2       object
cat3       object
cat4       object
cat5       object
cat6       object
cat7       object
cat8       object
cat9       object
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
dtype: object

In [11]:
train.isnull().sum()

id        0
cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
target    0
dtype: int64

In [12]:
test.isnull().sum()

id        0
cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
dtype: int64

In [13]:
train.describe

<bound method NDFrame.describe of             id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8  ...     cont5  \
0            1    B    B    B    C    B    B    A    E    C  ...  0.400361
1            2    B    B    A    A    B    D    A    F    A  ...  0.533087
2            3    A    A    A    C    B    D    A    D    A  ...  0.650609
3            4    B    B    A    C    B    D    A    E    C  ...  0.668980
4            6    A    A    A    C    B    D    A    E    A  ...  0.686964
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
299995  499993    B    B    A    A    B    D    A    E    A  ...  0.769792
299996  499996    A    B    A    C    B    B    A    E    E  ...  0.528056
299997  499997    B    B    A    C    B    C    A    E    G  ...  0.688747
299998  499998    A    B    A    C    B    B    A    E    E  ...  0.344404
299999  499999    A    A    A    C    A    D    A    E    A  ...  0.565347

           cont6     cont7     cont8     cont9    cont10    cont11    cont12  \
0       0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401
1       0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975
2       0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474
3       0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150
4       0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849
...          ...       ...       ...       ...       ...       ...       ...
299995  0.450538  0.934360  1.005077  0.853726  0.422541  1.063463  0.697685
299996  0.508502  0.358247  0.257825  0.433525  0.301015  0.268447  0.577055
299997  0.372425  0.364936  0.383224  0.551825  0.661007  0.629606  0.714139
299998  0.424243  0.382028  0.468819  0.351036  0.288768  0.611169  0.380254
299999  0.328669  0.789165  0.960406  0.776019  0.734707  0.484392  0.639754

          cont13    target
0       0.869850  8.113634
1       0.465083  8.481233
2       0.763846  8.364351
3       0.280682  8.049253
4       0.250823  7.972260
...          ...       ...
299995  0.506404  7.945605
299996  0.823611  7.326118
299997  0.245732  8.706755
299998  0.332030  7.229569
299999  0.689317  8.631146

[300000 rows x 26 columns]>

In [14]:
test.describe

<bound method NDFrame.describe of             id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8  ...     cont4  \
0            0    B    B    B    C    B    B    A    E    E  ...  0.476739
1            5    A    B    A    C    B    C    A    E    C  ...  0.285509
2           15    B    A    A    A    B    B    A    E    D  ...  0.697272
3           16    B    B    A    C    B    D    A    E    A  ...  0.719306
4           17    B    B    A    C    B    C    A    E    C  ...  0.313032
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
199995  499987    B    A    A    C    B    D    A    E    E  ...  0.287454
199996  499990    B    A    A    C    B    B    A    E    C  ...  0.794881
199997  499991    A    B    B    C    B    B    A    E    C  ...  0.514487
199998  499994    A    A    A    C    B    D    A    D    A  ...  0.286144
199999  499995    A    A    A    C    B    D    A    E    A  ...  0.286755

           cont5     cont6     cont7     cont8     cont9    cont10    cont11  \
0       0.376350  0.337884  0.321832  0.445212  0.290258  0.244476  0.087914
1       0.860046  0.798712  0.835961  0.391657  0.288276  0.549568  0.905097
2       0.683600  0.404089  0.879379  0.275549  0.427871  0.491667  0.384315
3       0.777890  0.730954  0.644315  1.024017  0.391090  0.988340  0.411828
4       0.431007  0.390992  0.408874  0.447887  0.390253  0.648932  0.385935
...          ...       ...       ...       ...       ...       ...       ...
199995  0.543800  0.682378  1.028978  1.022741  0.683903  0.877273  0.532410
199996  0.432778  0.389775  0.359871  0.550013  0.492082  0.202295  0.416875
199997  0.060997  0.171741  0.317185  0.150340  0.122109  0.390524  0.334026
199998  1.061710  0.819811  0.901241  0.555339  0.844315  0.894193  0.794102
199999  1.065725  0.687682  0.654738  0.574575  0.617467  0.694336  0.745698

          cont12    cont13
0       0.301831  0.845702
1       0.850684  0.693940
2       0.376689  0.508099
3       0.393585  0.461372
4       0.370401  0.900412
...          ...       ...
199995  0.605397  0.884581
199996  0.406205  0.758665
199997  0.378987  0.839416
199998  0.844279  0.890473
199999  0.568525  0.783568

[200000 rows x 25 columns]>

In [15]:
def print_unique_col_values(train):
       for column in train:
            if train[column].dtypes=='object':
                print(f'{column}: {train[column].unique()}')

In [16]:
print_unique_col_values(train)

cat0: ['B' 'A']
cat1: ['B' 'A']
cat2: ['B' 'A']
cat3: ['C' 'A' 'D' 'B']
cat4: ['B' 'C' 'A' 'D']
cat5: ['B' 'D' 'C' 'A']
cat6: ['A' 'B' 'C' 'H' 'D' 'I' 'G' 'E']
cat7: ['E' 'F' 'D' 'B' 'G' 'C' 'A' 'I']
cat8: ['C' 'A' 'G' 'E' 'F' 'D' 'B']
cat9: ['N' 'O' 'F' 'K' 'M' 'I' 'G' 'H' 'L' 'B' 'A' 'J' 'D' 'C' 'E']

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
X = pd.read_csv('train.csv')
X_test_full = pd.read_csv('test.csv')

# Remove rows with missing target, separate target from predictors
X.dropna(axis=0, subset=['target'], inplace=True)
y = X.target             
X.drop(['target'], axis=1, inplace=True)

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numeric columns
numeric_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = low_cardinality_cols + numeric_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

# One-hot encode the data (to shorten the code, we use pandas)
X_train = pd.get_dummies(X_train)
X_valid = pd.get_dummies(X_valid)
X_test = pd.get_dummies(X_test)
X_train, X_valid = X_train.align(X_valid, join='left', axis=1)
X_train, X_test = X_train.align(X_test, join='left', axis=1)

In [18]:
X_test.head()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,...,cat7_F,cat7_G,cat7_I,cat8_A,cat8_B,cat8_C,cat8_D,cat8_E,cat8_F,cat8_G
0,0,0.296227,0.686757,0.587731,0.392753,0.476739,0.376350,0.337884,0.321832,0.445212,...,0,0,0,0,0,0,0,1,0,0
1,5,0.543707,0.364761,0.452967,0.929645,0.285509,0.860046,0.798712,0.835961,0.391657,...,0,0,0,0,0,1,0,0,0,0
2,15,0.408961,0.296129,0.690999,0.740027,0.697272,0.683600,0.404089,0.879379,0.275549,...,0,0,0,0,0,0,1,0,0,0
3,16,1.031239,0.356062,0.303651,0.895591,0.719306,0.777890,0.730954,0.644315,1.024017,...,0,0,0,1,0,0,0,0,0,0
4,17,0.530447,0.729004,0.281723,0.444698,0.313032,0.431007,0.390992,0.408874,0.447887,...,0,0,0,0,0,1,0,0,0,0

In [19]:
X_test.columns

Index(['id', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6',
       'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13',
       'cat0_A', 'cat0_B', 'cat1_A', 'cat1_B', 'cat2_A', 'cat2_B', 'cat3_A',
       'cat3_B', 'cat3_C', 'cat3_D', 'cat4_A', 'cat4_B', 'cat4_C', 'cat4_D',
       'cat5_A', 'cat5_B', 'cat5_C', 'cat5_D', 'cat6_A', 'cat6_B', 'cat6_C',
       'cat6_D', 'cat6_E', 'cat6_G', 'cat6_H', 'cat6_I', 'cat7_A', 'cat7_B',
       'cat7_C', 'cat7_D', 'cat7_E', 'cat7_F', 'cat7_G', 'cat7_I', 'cat8_A',
       'cat8_B', 'cat8_C', 'cat8_D', 'cat8_E', 'cat8_F', 'cat8_G'],
      dtype='object')

In [20]:
from xgboost import XGBRegressor

In [21]:
from sklearn.metrics import mean_absolute_error

In [22]:
# Define the model
my_model_2 = XGBRegressor(n_estimators=1000, learning_rate=0.05) # Your code here

# Fit the model
my_model_2.fit(X_train, y_train) # Your code here

# Get predictions
predictions_2 = my_model_2.predict(X_test) # Your code here

# Calculate MAE
mae_2 = mean_absolute_error(predictions_2, y_valid) # Your code here

# Uncomment to print MAE
print("Mean Absolute Error:" , mae_2)

ValueError: Found input variables with inconsistent numbers of samples: [200000, 60000]

In [ ]:
output = pd.DataFrame({'id': X_test.id,
                       'target': predictions_2})
output.to_csv('submission_1.csv', index=False)

In [ ]:
X_test.shape

In [ ]:
predictions_2.shape

In [ ]:
X_valid.shape

In [ ]:
X_train.shape