In [ ]:
try:
    from IPython import get_ipython
    get_ipython().magic('clear')
    get_ipython().magic('reset -f')
except:
    pass

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#To ignore the warnings 
import warnings as wg
wg.filterwarnings("ignore")

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

In [ ]:
train1= pd.read_csv('/content/drive/MyDrive/train.csv')
test= pd.read_csv('/content/drive/MyDrive/test.csv')

In [ ]:
train1.head()

   id cat0 cat1 cat2 cat3  ...    cont10    cont11    cont12    cont13    target
0   1    B    B    B    C  ...  0.237281  0.377873  0.322401  0.869850  8.113634
1   2    B    B    A    A  ...  0.906013  0.921701  0.261975  0.465083  8.481233
2   3    A    A    A    C  ...  0.748809  0.620126  0.541474  0.763846  8.364351
3   4    B    B    A    C  ...  0.346010  0.714610  0.540150  0.280682  8.049253
4   6    A    A    A    C  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 26 columns]

In [ ]:
test.head()

   id cat0 cat1 cat2 cat3  ...     cont9    cont10    cont11    cont12    cont13
0   0    B    B    B    C  ...  0.290258  0.244476  0.087914  0.301831  0.845702
1   5    A    B    A    C  ...  0.288276  0.549568  0.905097  0.850684  0.693940
2  15    B    A    A    A  ...  0.427871  0.491667  0.384315  0.376689  0.508099
3  16    B    B    A    C  ...  0.391090  0.988340  0.411828  0.393585  0.461372
4  17    B    B    A    C  ...  0.390253  0.648932  0.385935  0.370401  0.900412

[5 rows x 25 columns]

In [ ]:
train1.tail()

            id cat0 cat1 cat2  ...    cont11    cont12    cont13    target
299995  499993    B    B    A  ...  1.063463  0.697685  0.506404  7.945605
299996  499996    A    B    A  ...  0.268447  0.577055  0.823611  7.326118
299997  499997    B    B    A  ...  0.629606  0.714139  0.245732  8.706755
299998  499998    A    B    A  ...  0.611169  0.380254  0.332030  7.229569
299999  499999    A    A    A  ...  0.484392  0.639754  0.689317  8.631146

[5 rows x 26 columns]

In [ ]:
test.tail()

            id cat0 cat1 cat2  ...    cont10    cont11    cont12    cont13
199995  499987    B    A    A  ...  0.877273  0.532410  0.605397  0.884581
199996  499990    B    A    A  ...  0.202295  0.416875  0.406205  0.758665
199997  499991    A    B    B  ...  0.390524  0.334026  0.378987  0.839416
199998  499994    A    A    A  ...  0.894193  0.794102  0.844279  0.890473
199999  499995    A    A    A  ...  0.694336  0.745698  0.568525  0.783568

[5 rows x 25 columns]

In [ ]:
train1.dtypes

id          int64
cat0       object
cat1       object
cat2       object
cat3       object
cat4       object
cat5       object
cat6       object
cat7       object
cat8       object
cat9       object
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
target    float64
dtype: object

In [ ]:
test.dtypes

id          int64
cat0       object
cat1       object
cat2       object
cat3       object
cat4       object
cat5       object
cat6       object
cat7       object
cat8       object
cat9       object
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
dtype: object

In [ ]:
train1.shape

(300000, 26)

In [ ]:
test.shape

(200000, 25)

In [ ]:
train1.describe

<bound method NDFrame.describe of             id cat0 cat1 cat2  ...    cont11    cont12    cont13    target
0            1    B    B    B  ...  0.377873  0.322401  0.869850  8.113634
1            2    B    B    A  ...  0.921701  0.261975  0.465083  8.481233
2            3    A    A    A  ...  0.620126  0.541474  0.763846  8.364351
3            4    B    B    A  ...  0.714610  0.540150  0.280682  8.049253
4            6    A    A    A  ...  0.776742  0.625849  0.250823  7.972260
...        ...  ...  ...  ...  ...       ...       ...       ...       ...
299995  499993    B    B    A  ...  1.063463  0.697685  0.506404  7.945605
299996  499996    A    B    A  ...  0.268447  0.577055  0.823611  7.326118
299997  499997    B    B    A  ...  0.629606  0.714139  0.245732  8.706755
299998  499998    A    B    A  ...  0.611169  0.380254  0.332030  7.229569
299999  499999    A    A    A  ...  0.484392  0.639754  0.689317  8.631146

[300000 rows x 26 columns]>

In [ ]:
test.describe

<bound method NDFrame.describe of             id cat0 cat1 cat2  ...    cont10    cont11    cont12    cont13
0            0    B    B    B  ...  0.244476  0.087914  0.301831  0.845702
1            5    A    B    A  ...  0.549568  0.905097  0.850684  0.693940
2           15    B    A    A  ...  0.491667  0.384315  0.376689  0.508099
3           16    B    B    A  ...  0.988340  0.411828  0.393585  0.461372
4           17    B    B    A  ...  0.648932  0.385935  0.370401  0.900412
...        ...  ...  ...  ...  ...       ...       ...       ...       ...
199995  499987    B    A    A  ...  0.877273  0.532410  0.605397  0.884581
199996  499990    B    A    A  ...  0.202295  0.416875  0.406205  0.758665
199997  499991    A    B    B  ...  0.390524  0.334026  0.378987  0.839416
199998  499994    A    A    A  ...  0.894193  0.794102  0.844279  0.890473
199999  499995    A    A    A  ...  0.694336  0.745698  0.568525  0.783568

[200000 rows x 25 columns]>

In [ ]:
train1.corr

<bound method DataFrame.corr of             id cat0 cat1 cat2  ...    cont11    cont12    cont13    target
0            1    B    B    B  ...  0.377873  0.322401  0.869850  8.113634
1            2    B    B    A  ...  0.921701  0.261975  0.465083  8.481233
2            3    A    A    A  ...  0.620126  0.541474  0.763846  8.364351
3            4    B    B    A  ...  0.714610  0.540150  0.280682  8.049253
4            6    A    A    A  ...  0.776742  0.625849  0.250823  7.972260
...        ...  ...  ...  ...  ...       ...       ...       ...       ...
299995  499993    B    B    A  ...  1.063463  0.697685  0.506404  7.945605
299996  499996    A    B    A  ...  0.268447  0.577055  0.823611  7.326118
299997  499997    B    B    A  ...  0.629606  0.714139  0.245732  8.706755
299998  499998    A    B    A  ...  0.611169  0.380254  0.332030  7.229569
299999  499999    A    A    A  ...  0.484392  0.639754  0.689317  8.631146

[300000 rows x 26 columns]>

In [ ]:
test.corr

<bound method DataFrame.corr of             id cat0 cat1 cat2  ...    cont10    cont11    cont12    cont13
0            0    B    B    B  ...  0.244476  0.087914  0.301831  0.845702
1            5    A    B    A  ...  0.549568  0.905097  0.850684  0.693940
2           15    B    A    A  ...  0.491667  0.384315  0.376689  0.508099
3           16    B    B    A  ...  0.988340  0.411828  0.393585  0.461372
4           17    B    B    A  ...  0.648932  0.385935  0.370401  0.900412
...        ...  ...  ...  ...  ...       ...       ...       ...       ...
199995  499987    B    A    A  ...  0.877273  0.532410  0.605397  0.884581
199996  499990    B    A    A  ...  0.202295  0.416875  0.406205  0.758665
199997  499991    A    B    B  ...  0.390524  0.334026  0.378987  0.839416
199998  499994    A    A    A  ...  0.894193  0.794102  0.844279  0.890473
199999  499995    A    A    A  ...  0.694336  0.745698  0.568525  0.783568

[200000 rows x 25 columns]>

In [ ]:
train1.isnull().sum()

id        0
cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
target    0
dtype: int64

In [ ]:
test.isnull().sum()

id        0
cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
dtype: int64

In [ ]:
def print_unique_col_values(train):
       for column in train:
            if train[column].dtypes=='object':
                print(f'{column}: {train[column].unique()}')

In [ ]:
print_unique_col_values(train1)

cat0: ['B' 'A']
cat1: ['B' 'A']
cat2: ['B' 'A']
cat3: ['C' 'A' 'D' 'B']
cat4: ['B' 'C' 'A' 'D']
cat5: ['B' 'D' 'C' 'A']
cat6: ['A' 'B' 'C' 'H' 'D' 'I' 'G' 'E']
cat7: ['E' 'F' 'D' 'B' 'G' 'C' 'A' 'I']
cat8: ['C' 'A' 'G' 'E' 'F' 'D' 'B']
cat9: ['N' 'O' 'F' 'K' 'M' 'I' 'G' 'H' 'L' 'B' 'A' 'J' 'D' 'C' 'E']

In [ ]:
def print_unique_col_values(test):
       for column in test:
            if test[column].dtypes=='object':
                print(f'{column}: {test[column].unique()}')

In [ ]:
print_unique_col_values(test)

cat0: ['B' 'A']
cat1: ['B' 'A']
cat2: ['B' 'A']
cat3: ['C' 'A' 'D' 'B']
cat4: ['B' 'C' 'D' 'A']
cat5: ['B' 'C' 'D' 'A']
cat6: ['A' 'B' 'C' 'I' 'D' 'H' 'E' 'G']
cat7: ['E' 'G' 'B' 'D' 'F' 'A' 'C' 'I']
cat8: ['E' 'C' 'D' 'A' 'G' 'F' 'B']
cat9: ['I' 'H' 'K' 'N' 'F' 'G' 'A' 'J' 'M' 'B' 'L' 'C' 'O' 'E' 'D']

In [ ]:
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
train = lab_enc.fit_transform(train1)

ValueError: ignored

In [ ]:
from sklearn                        import metrics, svm
from sklearn.linear_model           import LinearRegression
from sklearn.linear_model           import LogisticRegression
from sklearn.tree                   import DecisionTreeClassifier
from sklearn.neighbors              import KNeighborsClassifier
from sklearn.discriminant_analysis  import LinearDiscriminantAnalysis
from sklearn.naive_bayes            import GaussianNB
from sklearn.svm                    import SVC

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
X = pd.read_csv('/content/drive/MyDrive/train.csv')
X_test_full = pd.read_csv('/content/drive/MyDrive/test.csv')
# Remove rows with missing target, separate target from predictors
X.dropna(axis=0, subset=['target'], inplace=True)
y = X.target             
X.drop(['target'], axis=1, inplace=True)

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numeric columns
numeric_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = low_cardinality_cols + numeric_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

# One-hot encode the data (to shorten the code, we use pandas)
X_train = pd.get_dummies(X_train)
X_valid = pd.get_dummies(X_valid)
X_test = pd.get_dummies(X_test)
X_train, X_valid = X_train.align(X_valid, join='left', axis=1)
X_train, X_test = X_train.align(X_test, join='left', axis=1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
# Define the model
my_model = DecisionTreeClassifier()

# Fit the model
my_model.fit(X_train, y_train)

# Get predictions
predictions = my_model.predict(X_test) 

# Calculate MAE
#mae = mean_absolute_error(predictions, y_valid) 

# Uncomment to print MAE
#print("Mean Absolute Error:" , mae)

In [ ]:
output = pd.DataFrame({'id': X_test.id,
                       'target': predictions})
output.to_csv('submission_6.csv', index=False)

In [ ]:
X_valid.head()

In [ ]:
X_test.head()

In [ ]:
X_valid.shape

In [ ]:
X_test.shape

In [ ]:
y_valid.shape