In [1]:
try:
    from IPython import get_ipython
    get_ipython().magic('clear')
    get_ipython().magic('reset -f')
except:
    pass

In [2]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#To ignore the warnings 
import warnings as wg
wg.filterwarnings("ignore")

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
train = pd.read_csv('/content/drive/MyDrive/train.csv')
test = pd.read_csv('/content/drive/MyDrive/test.csv')

In [6]:
train['cat0'].replace({'B':1,'A':0},inplace=True)
train.cat0.unique()
train['cat1'].replace({'B':1,'A':0},inplace=True)
train.cat1.unique()
train['cat2'].replace({'B':1,'A':0},inplace=True)
train.cat2.unique()
train['cat3'].replace({'D':3,'C':2,'B':1,'A':0},inplace=True)
train.cat3.unique()
train['cat4'].replace({'D':3,'C':2,'B':1,'A':0},inplace=True)
train.cat4.unique()
train['cat5'].replace({'D':3,'C':2,'B':1,'A':0},inplace=True)
train.cat5.unique()
train['cat6'].replace({'E':4, 'H':7, 'D':3, 'B':1, 'G':6, 'C':2, 'A':0, 'I':8},inplace=True)
train.cat6.unique()
train['cat7'].replace({'E':4, 'F':5, 'D':3, 'B':1, 'G':6, 'C':2, 'A':0, 'I':8},inplace=True)
train.cat7.unique()
train['cat8'].replace({'C':2, 'A':0,'G':6, 'E':4, 'F':5, 'D':3, 'B':1},inplace=True)
train.cat8.unique()
train['cat9'].replace({'N':13, 'O':14, 'F':5, 'K':10, 'M':12, 'I':8, 'G':6, 'H':7,'L':11, 'B':1, 'A':0, 'J':9, 'D':3, 'C':2 ,'E':4},inplace=True)
train.cat9.unique()

array([13, 14,  5, 10, 12,  8,  6,  7, 11,  1,  0,  9,  3,  2,  4])

In [7]:
train.shape

(300000, 26)

In [8]:
test.shape

(200000, 25)

In [9]:
train.head()

   id  cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13    target
0   1     1     1     1     2  ...  0.237281  0.377873  0.322401  0.869850  8.113634
1   2     1     1     0     0  ...  0.906013  0.921701  0.261975  0.465083  8.481233
2   3     0     0     0     2  ...  0.748809  0.620126  0.541474  0.763846  8.364351
3   4     1     1     0     2  ...  0.346010  0.714610  0.540150  0.280682  8.049253
4   6     0     0     0     2  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 26 columns]

In [10]:
test['cat0'].replace({'B':1,'A':0},inplace=True)
test.cat0.unique()
test['cat1'].replace({'B':1,'A':0},inplace=True)
test.cat1.unique()
test['cat2'].replace({'B':1,'A':0},inplace=True)
test.cat2.unique()
test['cat3'].replace({'D':3,'C':2,'B':1,'A':0},inplace=True)
test.cat3.unique()
test['cat4'].replace({'D':3,'C':2,'B':1,'A':0},inplace=True)
test.cat4.unique()
test['cat5'].replace({'D':3,'C':2,'B':1,'A':0},inplace=True)
test.cat5.unique()
test['cat6'].replace({'E':4, 'H':7, 'D':3, 'B':1, 'G':6, 'C':2, 'A':0, 'I':8},inplace=True)
test.cat6.unique()
test['cat7'].replace({'E':4, 'F':5, 'D':3, 'B':1, 'G':6, 'C':2, 'A':0, 'I':8},inplace=True)
test.cat7.unique()
test['cat8'].replace({'C':2, 'A':0,'G':6, 'E':4, 'F':5, 'D':3, 'B':1},inplace=True)
test.cat8.unique()
test['cat9'].replace({'N':13, 'O':14, 'F':5, 'K':10, 'M':12, 'I':8, 'G':6, 'H':7,'L':11, 'B':1, 'A':0, 'J':9, 'D':3, 'C':2 ,'E':4},inplace=True)
test.cat9.unique()

array([ 8,  7, 10, 13,  5,  6,  0,  9, 12,  1, 11,  2, 14,  4,  3])

In [11]:
test.head()

   id  cat0  cat1  cat2  cat3  ...     cont9    cont10    cont11    cont12    cont13
0   0     1     1     1     2  ...  0.290258  0.244476  0.087914  0.301831  0.845702
1   5     0     1     0     2  ...  0.288276  0.549568  0.905097  0.850684  0.693940
2  15     1     0     0     0  ...  0.427871  0.491667  0.384315  0.376689  0.508099
3  16     1     1     0     2  ...  0.391090  0.988340  0.411828  0.393585  0.461372
4  17     1     1     0     2  ...  0.390253  0.648932  0.385935  0.370401  0.900412

[5 rows x 25 columns]

In [12]:
train.dtypes

id          int64
cat0        int64
cat1        int64
cat2        int64
cat3        int64
cat4        int64
cat5        int64
cat6        int64
cat7        int64
cat8        int64
cat9        int64
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
target    float64
dtype: object

In [13]:
test.dtypes

id          int64
cat0        int64
cat1        int64
cat2        int64
cat3        int64
cat4        int64
cat5        int64
cat6        int64
cat7        int64
cat8        int64
cat9        int64
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
dtype: object

In [14]:
train.head()

   id  cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13    target
0   1     1     1     1     2  ...  0.237281  0.377873  0.322401  0.869850  8.113634
1   2     1     1     0     0  ...  0.906013  0.921701  0.261975  0.465083  8.481233
2   3     0     0     0     2  ...  0.748809  0.620126  0.541474  0.763846  8.364351
3   4     1     1     0     2  ...  0.346010  0.714610  0.540150  0.280682  8.049253
4   6     0     0     0     2  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 26 columns]

In [15]:
test.head()

   id  cat0  cat1  cat2  cat3  ...     cont9    cont10    cont11    cont12    cont13
0   0     1     1     1     2  ...  0.290258  0.244476  0.087914  0.301831  0.845702
1   5     0     1     0     2  ...  0.288276  0.549568  0.905097  0.850684  0.693940
2  15     1     0     0     0  ...  0.427871  0.491667  0.384315  0.376689  0.508099
3  16     1     1     0     2  ...  0.391090  0.988340  0.411828  0.393585  0.461372
4  17     1     1     0     2  ...  0.390253  0.648932  0.385935  0.370401  0.900412

[5 rows x 25 columns]

In [16]:
train.dtypes

id          int64
cat0        int64
cat1        int64
cat2        int64
cat3        int64
cat4        int64
cat5        int64
cat6        int64
cat7        int64
cat8        int64
cat9        int64
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
target    float64
dtype: object

In [17]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(train)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='median', verbose=0)

In [18]:
train.head()

   id  cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13    target
0   1     1     1     1     2  ...  0.237281  0.377873  0.322401  0.869850  8.113634
1   2     1     1     0     0  ...  0.906013  0.921701  0.261975  0.465083  8.481233
2   3     0     0     0     2  ...  0.748809  0.620126  0.541474  0.763846  8.364351
3   4     1     1     0     2  ...  0.346010  0.714610  0.540150  0.280682  8.049253
4   6     0     0     0     2  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 26 columns]

In [19]:
y = train.target
X = train.drop(['target'], axis=1)

In [20]:
# Divide data into training and validation subsets
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [21]:
categorical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [23]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=10, random_state=0)

In [24]:
from sklearn.metrics import mean_absolute_error

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(test)

In [25]:
test.shape

(200000, 25)

In [26]:
preds.shape

(200000,)

In [27]:
output = pd.DataFrame({'id': test.id,
                       'target': preds})
output.to_csv('submission_9.csv', index=False)