In [ ]:
try:
    from IPython import get_ipython
    get_ipython().magic('clear')
    get_ipython().magic('reset -f')
except:
    pass

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#To ignore the warnings 
import warnings as wg
wg.filterwarnings("ignore")

In [ ]:
from sklearn                        import metrics, svm
from sklearn.linear_model           import LinearRegression
from sklearn.linear_model           import LogisticRegression
from sklearn.tree                   import DecisionTreeClassifier
from sklearn.neighbors              import KNeighborsClassifier
from sklearn.discriminant_analysis  import LinearDiscriminantAnalysis
from sklearn.naive_bayes            import GaussianNB
from sklearn.svm                    import SVC

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train= pd.read_csv('/content/drive/MyDrive/train.csv')
test= pd.read_csv('/content/drive/MyDrive/test.csv')

In [ ]:
train.head()

   id cat0 cat1 cat2 cat3  ...    cont10    cont11    cont12    cont13    target
0   1    B    B    B    C  ...  0.237281  0.377873  0.322401  0.869850  8.113634
1   2    B    B    A    A  ...  0.906013  0.921701  0.261975  0.465083  8.481233
2   3    A    A    A    C  ...  0.748809  0.620126  0.541474  0.763846  8.364351
3   4    B    B    A    C  ...  0.346010  0.714610  0.540150  0.280682  8.049253
4   6    A    A    A    C  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 26 columns]

In [ ]:
test.head()

   id cat0 cat1 cat2 cat3  ...     cont9    cont10    cont11    cont12    cont13
0   0    B    B    B    C  ...  0.290258  0.244476  0.087914  0.301831  0.845702
1   5    A    B    A    C  ...  0.288276  0.549568  0.905097  0.850684  0.693940
2  15    B    A    A    A  ...  0.427871  0.491667  0.384315  0.376689  0.508099
3  16    B    B    A    C  ...  0.391090  0.988340  0.411828  0.393585  0.461372
4  17    B    B    A    C  ...  0.390253  0.648932  0.385935  0.370401  0.900412

[5 rows x 25 columns]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Separate target from predictors
y = train.target
X = train.drop(['target'], axis=1)

# Divide data into training and validation subsets
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [ ]:
from xgboost import XGBRegressor


model = XGBRegressor(n_estimators=100, random_state=0)

In [ ]:
from sklearn.metrics import mean_absolute_error

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(test)

# Evaluate the model
#score = mean_absolute_error(y_valid, preds)
#print('MAE:', score)

[20:17:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
output = pd.DataFrame({'id': test.id,
                       'target': preds})
output.to_csv('submission_8.csv', index=False)